<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="myDBConnection" connectionString="server=localhost;user=root;database=patiencedb;port=3306;password=Maxximus2013;"/>
		<add name="MicrosoftSql" connectionString="Server=localhost\SQLEXPRESS;Database=patiencedb;Trusted_Connection=True;"/>
	</connectionStrings>
</configuration>